body, 
#root,
#root > div  {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Pattaya', sans-serif;
}
.home-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 2.5% 95% 2.5%;
}

.home-div > .header {
    grid-column: 2/3;
    grid-row: 1/2;
}

.home-div > .header > .top-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.home-div > .header > .top-header > .profile-div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-div > .header > .top-header > .profile-div > img {
    height: 100%;

}

.home-div > .header > .top-header > .login-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.home-div > .header > .top-header > .login-form > .dropdown-icon {
    width: 30px;
    height: 30px;
    background-image: url("./images/collapsed-menu.png");
    background-size: cover;
}


.home-div > .header > .bot-header {
    width: 100%;
    height: 80%;
}
.home-div > .header > .bot-header > .logo-img {
    width: 100%;
    height: 100%;
}

.home-div > .section {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.home-div > .section > a {
    height: 60%;
}
.home-div > .section > a> .button-img {
    height: 100%;
}
.home-div > .section > p {
    text-align: center;
    margin: 0;
    height: 40%;
}

.home-div > .footer {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-div > .footer > p {
    width: 100%;
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
}
.home-div > .footer > .popular-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.home-div > .footer > .popular-container > .city {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.home-div > .footer > .popular-container > .city > p{
    width: fit-content;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 1.5rem;
}

/*DROPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

